doctype
html
  head
    // build:css(./dist) styles/fonts.css
    link(rel="stylesheet" src="fonts/fonts.css")
    // endbuild
    // build:css(./.tmp) styles/main.css
    link(rel="stylesheet" src="styles/main.css")
    // endbuild
    // build:js(./.tmp) scripts/main.js
    script(type="text/javascript" src="scripts/main.js")
    // endbuild
  body
    h1 Test
    p.test-class Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laborum autem quaerat tempora, harum libero tempore corporis fuga consectetur eveniet animi quasi reiciendis sequi cupiditate iusto non, sit corrupti reprehenderit!
    img(src="imgs/test.jpg")
